<!doctype html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <title>RuEng Translate</title>
  </head>
  <body>
    <div class="container p-4">
      <div class="d-flex flex-row justify-content-around align-items-center">
        {% if content['curr_lang'] == "eng" %}
          <div id="input_lang">English</div>
          <div class="swap_button">
            <span type="button" class="" onclick="myFunction()" style="font-size: 48px; cursor: pointer;">&#8596;</span>
          </div>
          <div id="output_lang">Russian</div>
        {% else %}
          <div id="input_lang">Russian</div>
          <div class="swap_button">
            <span class="" onclick="myFunction()" style="font-size: 48px; cursor: pointer;">&#8596;</span>
          </div>
          <div id="output_lang">English</div>
        {% endif %}
      </div>
      <form method="POST" >
        <div class="row gx-2">
          <div class="col-6">
            <textarea class="form-control shadow-none" id="inputTextarea" rows="10" name="inputText" style="resize:none">{{ content['input_text'] }}</textarea>
          </div>   
          <div class="col-6">
            <textarea class="form-control shadow-none" id="outputTextarea" rows="10" name="outputText" style="resize:none">{{ content['output_text'] }}</textarea>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-around mt-2">
          <div class="translate">
            <input type="submit" class="btn btn-primary no-box-shadow" name="translate" value="Translate"></input>
            {% if content['curr_lang'] == "eng" %}
              <input type="hidden" name="currLang" value="eng", id="currLang"></input>
            {% else %}
              <input type="hidden" name="currLang" value="ru", id="currLang"></input>
            {% endif %}
          </div>
        </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script>
      function myFunction() {
        var input_lang = document.getElementById("input_lang").innerText;
        var output_lang = document.getElementById("output_lang").innerText;
        
        document.getElementById("input_lang").innerHTML = output_lang;
        document.getElementById("output_lang").innerHTML = input_lang;

        var input_text_area = document.getElementById("inputTextarea").value;
        var output_text_area = document.getElementById("outputTextarea").value;

        document.getElementById("inputTextarea").value = output_text_area;
        document.getElementById("outputTextarea").value = input_text_area;

        var currText = document.getElementById("currLang").value
        if(currText == "eng"){
          document.getElementById("currLang").value = "ru"
        }
        else{
          document.getElementById("currLang").value = "eng"
        }
      }
    </script>
  </body>
</html>